ohtuprojekti/target/classes/*.class
ohtuprojekti/target/test-classes/*.class
ohtuprojekti/target/test-classes/ohtu/*
ohtuprojekti/target/test-classes/.netbeans_automatic_build
ohtuprojekti/target/classes/.netbeans_automatic_build
ohtuprojekti/target/classes/.netbeans_update_resources
ohtuprojekti/target/cobertura/
ohtuprojekti/target/generated-classes/
ohtuprojekti/target/maven-archiver/
ohtuprojekti/target/site/
ohtuprojekti/target/surefire
ohtuprojekti/surefire-reports