*.class
ohtuprojekti/target/classes/
ohtuprojekti/target/cobertura/
ohtuprojekti/target/generated-classes/
ohtuprojekti/target/maven-archiver/
ohtuprojekti/target/site/
ohtuprojekti/target/surefire/
ohtuprojekti/surefire-reports/
ohtuprojekti/nbactions.xml
*.bib
*.json
ohtuprojekti/target/easyb/
ohtuprojekti/target/test-classes/
ohtuprojekti/*.jar
